@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.profile-pic {
  background-color: lightseagreen;
  -webkit-box-shadow: 0px 3px 6px 2px rgba(193,195,199,1);
    -moz-box-shadow: 0px 3px 6px 2px rgba(193,195,199,1);
    box-shadow: 0px 3px 6px 2px rgba(193,195,199,1);
  margin-top: 60px;
}

.info_profil {
  margin-top: 23px;
  border-radius: 5%;
}

.kotak_foto_profil {
  border-radius: 5%;
  margin-top: 23px;
}

.name {
  font-size: 50px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

.email {
  font-size: 15px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

.profileBody-row {
  padding-top: 100px;
}

@media(max-width:767px){
  .profile-pic {
    background-color: lightseagreen;
    box-shadow: 0px 3px 6px 2px rgba(193,195,199,1);
    margin-top: 155px;
    margin-bottom: -140px;
  }
    
  .profileBody-row {
    padding-top: 195px;
  }

}