.listTiketBody {
    padding-top: 140px;
    margin-bottom: -50px;
    text-align: left;
}

.listTiketBody .row {
    background-color: white;
    border-radius: 10px;
    margin: 10px 0;
    padding: 15px 0;
}

.listTiketBody .col-md-3 {
    margin: auto;
}

.listTiketBody img {
    width: 100%;
}

.listTiketBody .col-md-4 {
    margin-top: auto;
}

.listTiketBody .col-md-5 {
    margin: auto 0;
}

.listTiketBody h6 {
    margin: 5px;
}

.listTiketBody button {
    display: block;
    margin-left: auto;
}

.listTiketBody span {
    color: cornflowerblue;
}

@media(max-width:767px) {
    .listTiketBody {
        padding-top: 260px;
        margin-bottom: -50px;
        text-align: left;
    }
}